<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <nav id="barranav" class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/ChatGPT Image 24 sept 2026, 20_23_19.png" alt="Bootstrap" width="200">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link active" href="#QuienesSomos">Quienes Somos</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#BuscanHogar">Buscan
                            Hogar</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#ColaboraConNosotros">Colabora
                            con Nosotros</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="guia.html">Conoce
                            mas Peluditos</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#Contacto">Contacto</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-logo-space" style="width: 200px;"></div>

        </div>
    </nav>

    <section id="Bienvenida" class="py-5">
        <div class="container">
            <a href="#"><img src="../img/logo.png" alt="imgbienvenida" class="img-fluid"></a>
        </div>
    </section>

    <section id="QuienesSomos" class="py-5 ps-5">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-center justify-content-lg-between">
                <div class="col-12 col-lg-5 bg-light border border-2 border-secondary-subtle rounded-3 p-4">
                    <h1 class="py-2">¿Quienes Somos?</h1>
                    <p>
                        En Huellas del Puerto trabajamos día a día rescatando, rehabilitando y entregando los cuidados
                        necesarios a animales rescatados de los Cerros y calles de nuestra ciudad puerto. Nuestra misión
                        no solo es darles un refugio temporal, sino sanar sus heridas y prepararlos para encontrar una
                        familia definitiva a través de la adopción responsable.
                        Con el paso del tiempo, la comunidad que nos apoya ha crecido enormemente. Por eso, hemos creado
                        esta plataforma como un punto de encuentro único entre nuestras mascotas y quienes buscan abrir
                        las puertas de su hogar a un nuevo integrante, colaborar como voluntarios o aportar a nuestra
                        causa.
                    </p>
                </div>

                <div class="col-12 col-lg-6 offset-1 bg-light border border-2 border-secondary-subtle rounded-3 p-3">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner rounded-3">
                            <div class="carousel-item active">
                                <img src="../img/54411983728_119bfe7001_o-1024x683.jpg" class="d-block w-100"
                                    object-fit: cover;" alt="Perrito 1">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/perritocarrusel2.jpeg" class="d-block w-100" object-fit: cover;"
                                    alt="Perrito 2">
                            </div>
                            <div class="carousel-item">
                                <img src="../img/laquiltreria3.jpg" class="d-block w-100" object-fit: cover;"
                                    alt="Perrito 3">
                            </div>
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
    </section>

    <section id="BuscanHogar" class="py-5 px-3 px-md-5">
        <div class="container-fluid">
            <h1 class="text-center text-md-start mb-4">¡Conoce a nuestros peluditos destacados!</h1>

            <div class="row g-4 justify-content-center justify-content-md-start">

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/perromeme1.jpg" class="card-img-top" alt="perro1">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Locotron</h5>
                            <p class="card-text">Despues de un año luchando contra el cancer lo supero.</p>
                            <a href="#" class="btn btn-primary mt-auto">Adopta</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/perromeme2.jpg" class="card-img-top" alt="perro2">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Pedro</h5>
                            <p class="card-text">Fue maltratado casi al momento de nacer, un luchador.</p>
                            <a href="#" class="btn btn-primary mt-auto">Adopta</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/gatomeme1.jpg" class="card-img-top" alt="gato1">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Peluso</h5>
                            <p class="card-text">De los primeros gatitos en entrar al refugio, todavia no encuentra
                                hogar.</p>
                            <a href="#" class="btn btn-primary mt-auto">Adopta</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/gatomeme2.jpg" class="card-img-top" alt="gato2">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Miguel</h5>
                            <p class="card-text">Fue atropellado con muy corta edad, al recuperarse nos dimos cuenta que
                                le encanta ponerse en dos patas.</p>
                            <a href="#" class="btn btn-primary mt-auto">Adopta</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="ColaboraConNosotros" class="py-5 px-3 px-md-5">
        <div class="container-fluid">
            <div class="row mb-5">
                <div class="col-12 text-center">
                    <h1>Colabora con Nosotros</h1>
                    <h3>Te contamos como hacerlo</h3>
                </div>
            </div>

            <div class="row g-4 justify-content-center">
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/adoptar.jpg" class="card-img-top" alt="adoptar">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Adoptar a un nuevo amigo</h5>
                            <p class="card-text">Entra a nuestra galeria de adopcion de peluditos.</p>
                            <a href="guia.html" class="btn btn-primary mt-auto">Ir a Galeria</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/hogar.jpg" class="card-img-top" alt="hogartemporal">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Dar un hogar temporal</h5>
                            <p class="card-text">Dale un nuevo hogar a uno de nuestros peluditos temporalmente mientras
                                encuentra un nuevo dueño o cumple con algun tratamiento.</p>
                            <a href="#" class="btn btn-primary mt-auto">Mas información</a>
                        </div>
                    </div>
                </div>



                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/voluntario.jpg" class="card-img-top" alt="voluntario">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Voluntariado</h5>
                            <p class="card-text">Se voluntario en terreno para el rescate de animales, se el heroe que
                                ellos
                                necesitan.</p>
                            <a href="#" class="btn btn-primary mt-auto">Mas información</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex align-items-stretch">
                    <div class="card w-100 shadow-sm">
                        <img src="../img/donar.jpg" class="card-img-top" alt="donar">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">Realiza una Donación</h5>
                            <p class="card-text">Realizar una donación no significa solo dinero, significa un dia mas de
                                alimento, medicacion y de vida para nuestros
                                amigos rescatados.
                                ¡Toda ayuda es bienvenida!
                            </p>
                            <a href="#" class="btn btn-primary mt-auto">Mas información</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <footer id="Contacto" class="py-5 px-3 px-md-5">
        <div class="container-fluid">
            <div class="row gy-4 justify-content-between">

                <div class="col-12 col-md-4 text-center text-md-start">
                    <h5>Fundacion Huellas del Puerto</h5>
                    <p>Organización sin fines de lucro.</p>
                </div>

                <div class="col-12 col-sm-6 col-md-4 text-center text-md-start">
                    <h6>Horario de Visitas (Previa Cita)</h6>
                    <ul class="list-unstyled small mb-0">
                        <li><strong>Lunes a Viernes:</strong> 10:00 - 18:00 hrs</li>
                        <li><strong>Sabados:</strong> 10:00 - 15:00 hrs</li>
                    </ul>
                </div>

                <div class="col-12 col-sm-6 col-md-4 text-center text-md-start">
                    <h6>Contacto y Ubicación</h6>
                    <ul class="list-unstyled small mb-0">
                        <li class="mb-1"><strong>Ubicación:</strong>Valparaiso, Chile</li>
                        <li class="mb-1"><strong>Email:</strong>contacto@huellasdelpuerto.cl</li>
                        <li class="mb-1"><strong>Whatsapp:</strong>+56971280522</li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <p>© 2026 Fundación Huellas del Puerto</p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>