<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
    <nav id="barranav" class="navbar navbar-expand-lg" style="background-color: #C8963E;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="../img/ChatGPT Image 24 sept 2026, 20_23_19.png" alt="Bootstrap" width="200">
            </a>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li>
                        <a class="nav-link active" href="#QuienesSomos">Quienes Somos</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#BuscanHogar">Buscan Hogar</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#ColaboraConNosotros">Colabora con Nosotros</a>
                    </li>
                    <li>
                        <a class="nav-link active" href="#ConoceMasPeluditos">Conoce mas Peluditos</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-logo-space" style="width: 200px;"></div> 

        </div>
    </nav>

    <section id="Bienvenida">
        <div class="container">
            <img src="../img/perrito.png" alt="imgbienvenida" class="img-fluid">
        </div>
    </section>

    <section id="QuienesSomos">
        <div class="container-fluid">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi ducimus optio expedita dolor quod veritatis iure, nesciunt nulla magnam quidem laboriosam similique omnis fuga eveniet in libero vel aliquam dolore minima nisi. Vel iure, omnis libero in et eum! Beatae magnam maiores qui porro aut ex unde accusantium commodi quod esse tempora, distinctio repellat veritatis? Tempore sunt, rerum assumenda doloribus esse vel inventore voluptatum similique officiis quod ipsum totam? Maxime quia aspernatur esse vero voluptas consequuntur blanditiis explicabo saepe expedita eaque recusandae harum molestiae quaerat omnis iusto fugiat minus dolore quas, provident, mollitia cumque officia odit quibusdam. Nulla, ad ullam?</p>
        </div>
    </section>
</body>
</html>